head
    link(rel='stylesheet' type='text/css' href='/css/slide-viewer.css')
    link(rel='stylesheet' type='text/css' href='/animate.css/animate.min.css')
    link(rel='stylesheet' type='text/css' href='/fontawesome-free/css/all.css')
    script(src='/jquery/jquery.min.js')
    script(src='/js/slide-viewer.js')

    mixin navHeader(title)
        a.row.center
            div: strong #{title}
            i.fas.fa-minus(aria-hidden="true")


body.column
    div.row#slide-header
        a#slide-header-sidebar-button.slide-header-button: i.fas.fa-bars(aria-hidden="true")
        a#slide-header-home-button.slide-header-button(href="/browse/view"): i.fas.fa-home(aria-hidden="true")
        h1#slide-title
    div.row(style="flex:1")
        div.column#sidebar
            div.sidebar-nav
                +navHeader("Presentation Info")
                ul
                    li Slide: #[span#slide-progress-indicator]
                    li Animation: #[span#animation-progress-indicator]
            div.sidebar-nav
                +navHeader("Slide List")
                ul#slide-list

        div.column(style="flex:1")
            div#slide-controls
                div.row.center
                    a#slide-control-prev.slide-control-button: i.fas.fa-chevron-left(aria-hidden="true")
                    a#slide-control-next.slide-control-button: i.fas.fa-chevron-right(aria-hidden="true")
                    a#slide-control-fullscreen.slide-control-button: i.fas.fa-expand(aria-hidden="true")
            div.row.center
                div(style='position: relative')
                    div.ratio-container.slide
                    div#fullscreen-slide-controls
                        a#fullscreen-slide-control-prev.fullscreen-slide-control-button: i.fas.fa-chevron-left(aria-hidden="true")
                        a#fullscreen-slide-control-list.fullscreen-slide-control-button #[span#text] #[i.fas.fa-caret-down(aria-hidden="true")]
                        ul#fullscreen-slide-list
                        a#fullscreen-slide-control-next.fullscreen-slide-control-button: i.fas.fa-chevron-right(aria-hidden="true")
                        a#fullscreen-slide-control-fullscreen.fullscreen-slide-control-button: i.fas.fa-expand(aria-hidden="true")
            //div.ratio-container.slide(style='--ratio: calc(' + aspectRatio + ')') !{slideBody}

//- https://github.com/IanLunn/Hover
//- https://github.com/daneden/animate.css
//- https://github.com/Martz90/vivify
//- https://github.com/gmrchk/swupjs
//- https://github.com/turbolinks/turbolinks
//- http://x-tag.github.io/docs
