@import "global.css";

body {
    height: 100%;
}

/* Style the slide header */
#slide-header {
    background-color: white;
    border-bottom: solid 2px lightgrey;
}

#slide-title {
    flex: 1;
    text-align: center;
}

a.slide-header-button {
    /* copy center style */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;

    color: black;
    text-decoration: none;

    transition: color ease-in-out 0.2s;
}

.slide-header-button:hover {
    color: grey;
    cursor: pointer;
}

/* Style the sidebar */
#sidebar {
    background-color: white;
    border-right: solid 2px lightgrey;
    width: 200px;

    opacity: 1;
    transition: margin-left 500ms;
}

#sidebar .sidebar-nav a {
    border-bottom: solid 1px lightgrey;
}

#sidebar .sidebar-nav a:hover {
    color: grey;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

#sidebar .sidebar-nav a div {
    flex: 1;
    padding: 2px 8px;
}

#sidebar .sidebar-nav a i {
    padding: 10px;
}

#sidebar .sidebar-nav {
    margin-bottom: 8px;
}

#sidebar .sidebar-nav ul {
    margin: 0;
    padding: 0;
}

#sidebar .sidebar-nav li {
    list-style-type: none;
    padding: 2px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#sidebar #slide-list li:hover {
    background-color: lightgrey;
    transition: background-color ease-in 0.14s;
    cursor: pointer;
}

/* Style the slide viewer */
.slide-control-button {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: black;
    transition: all 0.2s ease-in-out;
}

.slide-control-button:hover {
    color: grey;
    cursor: pointer;
}

.slide-control-button i {
    padding: 10px;
}

h1 {
    margin: 0px;
}

@media (orientation:landscape) {    /* sanity check only works for sane aspect ratios */
    .slide-controls {
        height: 15vh;
    }

    .ratio-container {
        position: relative;

        height: 80vh;
        width: calc(80vh * var(--ratio));
        border: solid 2px black;

        box-sizing: border-box; /** force the border to be counted in size **/
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

@media (orientation:portrait) {
    .slide-controls {
        height: 15vw;
    }

    .ratio-container {
        position: relative;

        height: calc(80vw / var(--ratio));
        width: 80vw;
        border: solid 2px black;

        box-sizing: border-box; /** force the border to be counted in size **/
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

.ratio-container > p-slide {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    word-wrap: break-word;
}

/* to support animations */
.hidden {
    visibility: hidden;
}

/** fullscreen mode **/
#fullscreen-slide-controls {
    position: absolute;
    bottom: 16px;
    right: 16px;
    height: 40px;
    background-color: black;
    display: none;
    align-items: center;
    opacity: 0;
    transition: opacity ease-in-out 0.18s;
}

.fullscreen-slide-control-button {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: white;
    transition: all 0.2s ease-in-out;
    padding: 8px 10px;
}

.fullscreen-slide-control-button:hover {
    color: lightgrey;
    cursor: pointer;
}

#fullscreen-slide-control-list {
    position: relative;
}

#fullscreen-slide-control-list i {
    margin-left: 4px;
}

#fullscreen-slide-list {
    position: absolute;
    bottom: 40;
    right: 0;

    margin: 0;
    padding: 0;

    color: white;
    display: none;

    max-width: 300px;
}

#fullscreen-slide-list li {
    list-style-type: none;
    padding: 2px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: black;
    opacity: 0.7;
}

#fullscreen-slide-list li:hover {
    opacity: 1;
    transition: all ease-in-out 0.14s;
    cursor: pointer;
}

