/* Customise global style here */
.slide p-slide {
    font-family: 'Titillium Web', sans-serif;
    padding: 20px;
    background-color: white;
    overflow-wrap: break-word;
}

.slide h1 {
    margin: 0;
}

.slide p {
    font-size: 1em;
}

.slide a {
    text-decoration: none;
    color: inherit;
    box-shadow: 0px 10px 0px -8px;
    -webkit-transition: 0.5s box-shadow;
    transition: 0.5s box-shadow;
}
.slide a:hover {
    box-shadow: 0px 2px 0px 0px;
}

.slide table {
    background-color: black;
    border: solid 2px black;
}

.slide th, td {
    background-color: white;
    padding: 10px;
}

.slide img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

/* Create slide layouts here */
.slide .layout-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* becasue I'm both lazy and busy there is almost no working templates yet */
